html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #eee;
    overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}
audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}
ul,
li {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
main {
	position: relative;
	padding: 15px 10px;
	height: 100%
}
section {
    overflow: hidden;
	background: #eee;
	padding: 0 15px;
	position: relative;
	top: 30px;
	right: 0;
	left: 0;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
section > ul {
	margin-bottom: 60px;
}
header {
	padding: 0 5px;
	position: relative;
	width: 100%;
	top: 0;
	background-color: rgb(61, 179, 158);
	height: 50px !important;
	z-index: 9999;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}
.logo {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	float: left;
}
header > img {
	background-color: #3db39e;
	z-index: 1000;
	border-radius: 50%;
}
header > .menu {
	box-shadow: none;
	float: right;
	margin-top: 10px;
	width: 30px;
	height: 30px;
}
header > h1 {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
}
h1,
h2,
h3 {
	font-weight: bold;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}
:focus {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}
.floating {
	bottom: 10px;
	right: 10px;
	position: fixed;
	font-family: serif;
	font-weight: bold;
	background-color: #3db39e;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	font-size: 1.6em;
	text-align: center;
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}
.floating-button {
	font-family: serif;
	font-weight: bold;
	background-color: #3db39e;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	font-size: 1.6em;
	text-align: center;
	padding: 10px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	margin: 10px 0;
}
.right {
	float: right;
}
.left {
	float: left;
}
.cancel {
	background-color: red;
}
.menu:hover,
.menu:focus,
.menu:active {
	background-color: rgba(51, 51, 51, 0.3);
}

#todo-list > li {
	padding: 10px 0;
}

/* end link popup*/


/*style untuk popup */

.popup {
	visibility: visible;
	/*visibility:visible;*/
	position: absolute;
	top: 10px;
	right: -150px;
	z-index: 99999999999;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
	transition: right 0.8s;
}
.popup-container {
	background-color: #ffffff;
	color: #000;
	border-radius: 2px;
}

/*for only html demo purpose*/

.menu:hover + .popup,
.menu:focus + .popup,
.menu:active + .popup {
	right: 5px;
}
.popup:hover {
	right: 5px;
}
.menuItem {
	height: auto;
}
.menuItem > a {
	text-align: center;
	padding: 5px 20px;
	height: auto;
	width: 100%;
}
.menuItem:hover,
.menuItem:focus,
.menuItem:active {
	background-color: rgb(230, 230, 230);
	-moz-transition: all 1s;
}
ul {
	list-style: none;
}
.item_menu {
	border-radius: 50%;
}
.item_menu:hover,
.item_menu:focus,
.item_menu:active {
	background-color: rgba(51, 51, 51, 0.3);
	-moz-transition: all 1s;
}

/*for only html demo purpose*/

.item_menu:hover + .popup,
.item_menu:focus + .popup,
.item_menu:active + .popup {
	right: 5px;
}
.popup:hover,
.popup:focus,
.popup:active {
	right: 5px;
}

/* List items */

li {
	width: 100%;
	box-sizing: border-box;
	border-bottom: solid 0.1rem #e7e7e7;
	color: #333;
	margin: 0;
	display: block;
	position: relative;
}
li:last-child {
	border: none;
}

/* Pressed State */

li a:active {
	background-color: transparent;
	/* remove default color for active state */
}
li > a {
	text-decoration: none;
	color: #333;
	display: block;
	position: relative;
	border: none;
}
li > a:after {
	content: "";
	pointer-events: none;
	position: absolute;
	left: -1.5rem;
	top: 0;
	right: -1.5rem;
	bottom: 0;
}
aside.pack-end {
	position: absolute;
	right: 5px;
}
aside img {
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 60px;
}

/* Text content */

li h2 {
	border: none;
	margin: 0;
	color: #858585;
	font-size: 1.6em;
	line-height: 2rem;
}
li h2:first-of-type {
	font-size: 1.6rem;
	color: #333;
}
li > aside >.popup {
	visibility: visible;
	z-index: 99999999999;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
	transition: right 0.8s;
}
input,
textarea,
button {
	border: none;
	background: none;
	border-radius: 0;
	font-size: 1.4em;
	padding: 10px;
}
input,
textarea {
	width: 100%;
	background-color: #fff;
	margin: 5px 0;
}
input:invalid {
	border-bottom: 1px solid red;
}
.popup-propos {
	visibility: hidden;
	width: 100%;
	opacity: 1;
	background-color: rgba(100, 100, 100, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	z-index: 99999999999;
}
.popup-container-propos {
	width: 80%;
	position: relative;
	padding: 10px 20px;
	margin: 10px auto;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	overflow: auto;
	line-height: 1.2em;
}
.popup-container-propos > h2 {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.popup-container-propos > p {
	margin: 5px 0;
}
.popup-container-propos > a.popup-close {
	font-size: 1.6em;
	text-decoration: none;
	color: #333;
	float: right;
	transition: background-color 0.8s;
	padding: 10px;
	border-radius: 50%;
}
.popup-container-propos > a.popup-close:hover,
.popup-container-propos > a.popup-close:active,
.popup-container-propos > a.popup-close:focus {
	background-color: rgba(51, 51, 51, 0.3);
}
.label_error {
	position: relative;
	display: none;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 2px;
	padding: 5px;
	z-index: 1000;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.label_error + div {
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	top: -27.8px;
	left: 10px;
	box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.3);
}
.datetime {
	background-color: #fff;
}
.datetime > * {
	float: left;
}
.datetime > input[type="date"] {
	width: 59%;
	margin-right: 2%;
}
.datetime > input[type="time"] {
	width: 39%;
}
.error {
	color: red;
}
