<body>
    <header>
        <img class="logo" alt="logo" src="icons/pencil-128.png" />
        <h1>Todos</h1>
    </header>
    <main>
        <h1>Add new todo</h1>
        <form>
            <input type="text" id="task_title" placeholder="todo" required/>
            <div class="datetime">
                <input type="date" id="task_date" placeholder="YYYY-MM-DD" required/>
                <input type="time" id="task_time" placeholder="HH-MM" required/>
            </div>
            <!-- @TODO create own floating bubble -->
            <!--<label for="task_title" class="label_error">Veuillez remplir ce champ</label><div class="label_error"></div>-->
            <textarea id="task_description" rows="4" placeholder="text"></textarea>
            <button class="floating-button left" id="add">+</button>
            <a class="floating-button right cancel" id="cancel">×</a>
        </form>
    </main>
</body>
