<body>
    <header>
        <img class="logo" alt="logo" src="icons/pencil-128.png" />
        <h1>Todos</h1>
        <img id="menu" alt="menu" class="menu" src="icons/menu2-48.png" />
        <!--onclick-->
        <div class="popup-container popup">
            <ul>
                <li class="menuItem">
                    <a id="propos">A propos</a>
                </li>
            </ul>
        </div>
    </header>
    <section>
        <h1>Todo list</h1>
        <ul id="todo-list">
        </ul>
        <a class="floating" id="add"><span>+</span></a>
        <!--  	<a class="floating" id="add" href="views/add.html"><span>+</span></a>-->
        <div class="popup-propos">
            <div id="popup-container" class="popup-container-propos">
                <a class="popup-close" href="#">×</a>
                <h2>A propos de Todos</h2>
                <p>Version : <span>0.5</span></p>
                <p>Developpeur : <span><a href="mailto:benjamin.jegard@orange.com">JEGARD Benjamin</a></span></p>
                <p>Todos est un application qui vous permet de gérer vos todo</p>
            </div>
        </div>
    </section>
</body>
